.rating-form-inner {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.rating-form-inner h2 {
    text-align: center;
    font-size: 1.5rem;
}

.rating-form-content {
    display: flex;
    justify-content: center;
}

.rating-form-content-inner {
    display: flex;
    flex-direction: column;
}

.rating-input-block {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.rating-input-block label {
    margin-right: 5px;
}

.rating-form-inner textarea {
    margin-top: 1rem;
}

.rating-form-inner button {
    margin-top: 1rem;
    text-align: center;
    cursor: pointer;
}

.rating-form .thank-you {
    text-align: center;
    margin-top: 5rem;
}

.rating-form .thank-you p {
    font-size: 1.5rem;
}

.rating-form .thank-you button {
    margin-top: 2rem;
    text-align: center;
    cursor: pointer;
}