.location-form-inner {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.location-form-inner h2 {
    text-align: center;
    font-size: 1.5rem;
}

.location-form-content {
    display: flex;
    justify-content: center;
}

.location-form-content-inner {
    display: flex;
    flex-direction: column;
}