* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}
  
button:focus,
select:focus {
    outline: none;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

#map {
    width: 70%;
    height: 100vh;
}

h2 {
    font-weight: 400;
    font-size: 1.5rem;
}
