@import '../../styles/variables';
@import '../../styles/mixins';

.filter-controls form {
    padding: 1.2rem 1.5rem 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: $padding-left-edge;
    border-bottom: solid 1px #{$color-light-gray};

    h2.filter-title {
        font-size: 1.2rem;
        font-weight: 700;
    }

}

.filter-labels {
    display: flex;
    margin-top: 1rem;
}

.filter-labels label {
    width: 50px;
    padding-left: 11px;
    padding-bottom: 3px;
    font-size: 14px;
    color: rgba(31, 31, 31, 0.7);
}

.filter-labels label:first-child {
    margin-right: 150px;
}

.filter-selectors {
    display: flex;
}

.filter-selector-line {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-selector-line-inner {
    position: relative;
    width: 100px;
    height: 3px;
    background-color: #b3b3b3;
}

.resizable {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #535353;
}

.resizable .resizer {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #535353;
}

.resizable .resizer.left {
    top: -5px;
    left: -6px;
    cursor: pointer;
}

.resizable .resizer.right {
    top: -5px;
    right: -6px;
    cursor: pointer;
}