.location-card {
    padding: 1.2rem 1.5rem 2rem;
    width: 100%;
    height: 95px;
    background-color: #fff;
    border-bottom: solid 1px #b4b2b2;
    transition: background-color 200ms ease-in;
}

.location-card:last-child {
    border-bottom: none;
}

.location-card:hover {
    background-color: #e4e4e4;
    cursor: pointer;
}

.location-card h2 {
    font-size: 1.4rem;
    font-weight: 400;
}
