.single-location img {
    max-width: 100%;
}

.single-location h2 {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.add-rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-rating button img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.single-location-reviews {
    max-height: 100%;
    margin-top: 1rem;
}

.single-location-review {
    padding-top: 2rem;
    text-align: center;
}