.filter form {
    padding: 1.2rem 1.5rem 2rem;
    border-bottom: solid 1px #b4b2b2;
}

.filter-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.filter-labels {
    display: flex;
    margin-top: 1rem;
}

.filter-labels label {
    width: 50px;
    padding-left: 11px;
    padding-bottom: 3px;
    font-size: 14px;
    color: rgba(31, 31, 31, 0.7);
}

.filter-labels label:first-child {
    margin-right: 150px;
}

.filter-selectors {
    display: flex;
}

.filter-selector-input {
    padding-left: 5px;
    padding-right: 5px;
    width: 50px;
    border: solid 1px rgba(92, 92, 92, 0.25);
    border-radius: 4px;
}

.filter-selector-input-1,
.filter-selector-input-2 {
    display: flex;
    align-items: center;
    height: 40px;
}

.filter-selector-input-1 input,
.filter-selector-input-2 input{
    width: 20px;
    height: 30px;
    font-size: 13px;
    border: none;
}

.filter-buttons .button{
    width: 15px;
    height: 15px;
}

.filter-buttons .button img {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.filter-selector-line {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-selector-line-inner {
    position: relative;
    width: 100px;
    height: 3px;
    background-color: #b3b3b3;
}

.resizable {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #535353;
}

.resizable .resizer {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #535353;
}

.resizable .resizer.left {
    top: -5px;
    left: -6px;
    cursor: pointer;
}

.resizable .resizer.right {
    top: -5px;
    right: -6px;
    cursor: pointer;
}