// Reset user agent
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Lato", sans-serif;
    color: #1f1f1f;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:focus,
select:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

// Hide arrows from input number
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Firefox
input[type=number] {
  -moz-appearance: textfield;
}