.location-single img {
    max-width: 100%;
}

.location-single h2 {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.location-single-reviews {
    max-height: 100%;
    margin-top: 1rem;
}

.location-single-review {
    padding-top: 2rem;
    text-align: center;
}